pipeline/task.json
{
	"name": "task",
	"properties": {
		"activities": [
			{
				"name": "Loop_Through_Tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tablelist",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "task_copy1",
							"description": "sales per product category per month",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlPoolSink",
									"allowCopyCommand": true,
									"tableOption": "autoCreate"
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "azurelearn7-WorkspaceDefaultStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"Table": {
											"value": "@item().table",
											"type": "Expression"
										},
										"Schema": {
											"value": "@item().schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_synapse",
									"type": "DatasetReference",
									"parameters": {
										"Table": {
											"value": "@item().table",
											"type": "Expression"
										},
										"Schema": {
											"value": "@item().schema",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "sendfailureemail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Loop_Through_Tables",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-11.uksouth.logic.azure.com:443/workflows/7c3f929d2bb04435bdda9f04d89c24f3/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=TaRfYkWZ5StaYYXoT8IBns9pCIAcddWslw8xmTaEPeo",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": {
						"value": "{\n  \"Table\": \"@item().table\",\n  \"Schema\": \"@item().schema\",\n  \"ErrorMessage\": \"@activity('YourCopyActivityName').error.message\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string"
			},
			"schema": {
				"type": "string"
			},
			"tablelist": {
				"type": "array",
				"defaultValue": [
					{
						"schema": "SalesLT",
						"table": "Product"
					},
					{
						"schema": "SalesLT",
						"table": "ProductCategory"
					},
					{
						"schema": "SalesLT",
						"table": "SalesOrderHeader"
					},
					{
						"schema": "SalesLT",
						"table": "SalesOrderDetail"
					},
					{
						"schema": "SalesLT",
						"table": "Customer"
					}
				]
			}
		},
		"annotations": []
	}
}